@import '~global/colors.styl'

.education
  &__header
    margin-bottom 1.6rem

  &__list
    padding-left: 3.3rem;

    @media(max-width 360px)
      padding 0

  &__list-item
    display block
    margin-bottom 1.4rem