include ../title/title
include ../list-item/list-item

mixin education(items = [])
  .education
    .education__header
      +title({text: "education", img: "education.png", alt: "education"})
    ul.education__list
      each item in items
        .education__list-item
          +list-item({title: item.title, 
                      date: item.date, 
                      place: item.place, 
                      text: item.text,
                      altColor: true})