include ../title/title
include ../info/info

mixin education(items = [])
  .education
    .education__header
      +title({ text: 'education', img: 'education.png', alt: 'education' })
    ul.education__list
      each item in items
        li.education__list-item
          +info(Object.assign(item, { color: 'blue' }))
