include ../title/title

mixin profile({ spanText, strongText })
  .profile
    .profile__header
      +title({ text: 'profile', img: 'profile.png', alt: 'profile' })
    .profile__description
      span=spanText
      strong=strongText
