@import '~global/colors.styl'

.info
  position relative
  display block
  font-size 4rem

  &:before
    position absolute
    content ""
    width 1.25rem
    height 1.25rem
    top 0.375rem
    left -2.56rem
    border-radius 50%
    background-color black

    @media (max-width 20rem)
      display none

  &__header
    display flex
    flex-direction row
    flex-wrap wrap
    padding-left 0
    margin-bottom 0.5rem

  &__title
    font-weight 800
    font-size 1.56rem
    letter-spacing 0.01em
    color black
    text-transform uppercase
    flex 1.2
    margin-bottom 0.31rem

    @media (max-width 991px)
      flex 1.6

    @media (max-width 575px)
      width 100%
      flex none

  &__date
    font-size 1.56rem
    color black
    flex 2.2
    margin-bottom 0.31rem

    &:before
      content "// "
      font-family MyriadPro, Arial, sans-serif
      font-size 1.56rem

      @media (max-width 575px)
        display none

    @media (max-width 575px)
      width 100%
      flex none
  
  &__place
    font-size 1.56rem
    color black
    width 100%
  
  &__text
    font-size 0.95rem
    letter-spacing 0.2px
    line-height @font-size + 0.19
    margin 0

  &_color_blue &__title
      color $color_blue
