.list
  padding-left: 53px

  @media (max-width: 320px)
    padding-left: 0

  &-item
    position relative
    display: block
    font-size: 65px
    margin-bottom: 15px

    &:before
      position absolute
      content: ""
      width: 20px
      height 20px
      top: 6px
      left: -41px
      border-radius: 50%
      background-color: black

      @media (max-width: 320px)
        display: none

    &__header
      display: flex
      flex-direction: row
      flex-wrap: wrap
      width: 100%;
      padding-left: 0;
      margin-bottom: 8px

    &__title
      font-weight: bold
      font-size: 25px
      letter-spacing: 0.3px
      color black
      text-transform: uppercase
      flex 1.2
      margin-bottom: 5px

      @media (max-width: 991px)
        flex 1.6

      @media (max-width: 575px)
        width: 100%
        flex none

    &__date
      font-size: 25px
      color black
      flex 2.2
      margin-bottom: 5px;

      &:before
        content: "// "
        font-family: MyriadPro
        font-size: 25px

        @media (max-width: 575px)
          display: none

      @media (max-width: 575px)
        width: 100%
        flex none
    
    &__place
      font-size: 25px
      color black
      width: 100%