@import '~global/vars.styl'

.list
  padding-left 3.3rem

  @media (max-width 320px)
    padding-left 0

  &-item
    position relative
    display block
    font-size 4rem
    margin-bottom 0.93rem

    &:before
      position absolute
      content ""
      width 1.25rem
      height 1.25rem
      top 0.375rem
      left -2.56rem
      border-radius 50%
      background-color black

      @media (max-width 320px)
        display none

    &__header
      display flex
      flex-direction row
      flex-wrap wrap
      width 100%
      padding-left 0
      margin-bottom 0.5rem

    &__title
      font-weight bold
      font-size 1.56rem
      letter-spacing 0.3px
      color black
      text-transform uppercase
      flex 1.2
      margin-bottom 0.31rem

      @media (max-width 991px)
        flex 1.6

      @media (max-width 575px)
        width 100%
        flex none

    &__date
      font-size 1.56rem
      color black
      flex 2.2
      margin-bottom 0.31rem

      &:before
        content "// "
        font-family MyriadPro
        font-size 1.56rem

        @media (max-width 575px)
          display none

      @media (max-width 575px)
        width 100%
        flex none
    
    &__place
      font-size 1.56rem
      color black
      width 100%

    &_altcolor
      .list-item__title
        color $color_blue
