@import '~global/vars.styl';

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
          url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
          url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
          url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
          url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
          url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
          url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemi";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
          url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
          url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
          url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
          url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "MyriadProSemi";
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
          url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
          url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "MyriadProSemi";
  src: url("../fonts/MyriadProLightSemiExt/MyriadProLightSemiExt.eot");
  src: url("../fonts/MyriadProLightSemiExt/MyriadProLightSemiExt.eot?#iefix")format("embedded-opentype"),
          url("../fonts/MyriadProLightSemiExt/MyriadProLightSemiExt.woff") format("woff"),
          url("../fonts/MyriadProLightSemiExt/MyriadProLightSemiExt.ttf") format("truetype"),
          url("../fonts/MyriadProLightSemiExt/MyriadProLightSemiExt.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

* 
  box-sizing: border-box

html 
body
  font-family MyriadPro
  font-size 16px
  overflow-x: hidden
  height 100%
  
p
  font-size: 15px
  letter-spacing: 0.2px
  line-height: @font-size + 3
  margin: 0