include ../../components/layout/layout
include ../../components/personal/personal

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title resume
  body
    +container()
      +container__main()
        +container__col-left()
          +personal("name here", "surname", "graphic designer")
        +container__col-right()
         