@import '~global/vars.styl';

.resume
  .personal
    padding-top 12px
    padding-left: 15px

    @media (max-width: 991px)
      padding-left: 0
      padding-top: 0

.section
  &--software
    .section__content
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%

  &--education
    .list-item__title
      color $color_blue