include ../../components/layout/layout
include ../../components/personal/personal
include ../../components/section/section

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title resume
  body
    +container()
      +container__main()
        +container__col-left()
          +personal("name here", "surname", "graphic designer")
          +section("profile")
            p.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
              Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
              natoque penatibus et magnis dis parturient montes, nascetur 
              ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
              pretium quis, sem. Nulla consequat massa quis enim. Donec 
              pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim 
              justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
              dictum felis eu <strong>pede mollis pretium. Integer tincidunt. Cras 
              dapibus. Vivamus elementum semper nisi. Aenean 
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
              consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
              dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
              nulla ut metus varius laoreet. Quisque rutrum.</strong>

          +section("contact")

          +section("skills")

        +container__col-right()
          +section("education") 

          +section("experience")

          +section("software")   