@import '~global/vars.styl';

.section
  &--software
    .section__content
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%

  &--education
    .list-item__title
      color $color_blue