include ../title/title
include ../skill/skill

mixin skills(items = [])
  .skills
    .skills__header
      +title({ text: 'skills', img: 'skill.png', alt: 'skills' })
    .skills__content
      each item in items
        .skills__item
          +skill(item)
