.container
  width: 100%

  &__main
    display flex
    justify-content: space-between
    width: 100%
    max-width calc(1122px + 6.16%)
    margin 0 auto
    padding 76px 3% 76px 3.16%

  &__col-left
    width: 36.86%
    margin-right 6.74%

  &__col-right
    width 56.4%;