.container
  width: 100%

  &__main
    display flex
    justify-content: space-between
    width: 100%
    max-width 1240px
    margin 0 auto
    padding 76px 4.6%

  &__col-left
    width: 36.88%
    margin-right 6.83%

  &__col-right
    width 56.42%