mixin container(classname = "")
  .container(class = classname)
    block

mixin container__main()
  main.container__main
    block

mixin container__col-left()
  .container__col-left
    block

mixin container__col-right()
  .container__col-right
    block    