@import '~global/colors.styl'

.program
  &__title
    font-size 1.625rem
    text-transform uppercase
    color black
    margin-bottom 0.95rem
    width 100%

  &__range
    position relative
    height 1.31rem
    background-color $color_gray

  &__progress
    position absolute
    height 1.31rem
    background-color $color_blue