@import '~global/vars.styl';

.contact
  display flex
  justify-content flex-start
  align-items stretch
  text-decoration: none
  margin-bottom: 25px
  width: 100%

  &__title
    font-size: 20px
    font-weight: bold
    color: $color_blue
    text-transform: uppercase
    flex 1

  &__text
    font-size: 20px
    color: black
    flex 2