@import '~global/vars.styl';

.contact
  display flex
  justify-content flex-start
  align-items stretch
  text-decoration: none
  width: 100%

  &__title
    font-size: 1.25rem
    font-weight: bold
    color: $color_blue
    text-transform: uppercase
    flex 1

  &__text
    font-size: 1.25rem
    color: black
    flex 2