@import '~global/vars.styl';

.section

  &__header
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem
    width: 100%

    &:after
      flex 1
      content: ""
      height: 5px
      margin-bottom: 0.45rem
      background-color: $color_blue

      @media (max-width: 380px)
        display: none

  &__icon-wrap
    width: 75px
    height: 75px;
  
    @media (max-width: 380px)
      width: 60px
      height: 60px

  &__title
    font-family: MyriadPro
    font-weight: bold
    font-size: 41px
    color: $color_blue
    text-transform: uppercase
    margin-left: 8px
    margin-right: 8px
    letter-spacing: 0

    @media (max-width: 380px)
      font-size: 36px

  &--skills 

    .skill
      margin-bottom: 1rem

  &--software 

    .software
      width: 45%
      margin-bottom: 20px
      
      @media (max-width: 480px)
        width: 100%
