include ../round/round

mixin section(title, img, alt="")
  section(class= `section section_${title}`)
    .section__header
      .section__icon
        +round(img, alt)
      .section__title= title
    .section__content
      block