@import '~global/vars.styl';

.section

  &__header
    display: flex;
    align-items: center;
    margin-bottom: 25px
    width: 100%

    &:after
      flex 1
      content: ""
      height: 5px
      background-color: $color_blue

      @media (max-width: 380px)
        display: none

  &__icon-wrap
    width: 75px
    height: 75px;
  
    @media (max-width: 380px)
      width: 60px
      height: 60px

  &__icon .icon-inner
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;

  &__title
    font-family: MyriadPro
    font-weight: bold
    font-size: 41px
    color: $color_blue
    text-transform: uppercase
    margin-left: 8px
    margin-right: 8px
    letter-spacing: 0

    @media (max-width: 380px)
      font-size: 36px

  &--profile 
    .icon-inner
      background-image: url(./img/profile.png)

  &--contact 
    .icon-inner
      background-image: url(./img/contact.png)
      background-size: 60%;

  &--skills 
    .icon-inner
      background-image: url(./img/skill.png)
      background-size: 70%;

    .skill
      margin-bottom: 1rem
  
  &--education 
    .icon-inner
      background-image: url(./img/education.png)
      background-size: 80%;

  &--experience 
    .icon-inner
      background-image: url(./img/experience.png)

  &--software 
    .icon-inner
      background-image: url(./img/software.png)
      background-size: 70%;

    .software
      width: 45%
      margin-bottom: 20px
      
      @media (max-width: 480px)
        width: 100%
