include ../title/title
include ../program/program

mixin software(items = [])
  .software
    .software__header
      +title({ text: 'software', img: 'software.png', alt: 'software' })
    .software__content
      each item in items
        .software__item
          +program(item)
