@import '~global/vars.styl';

.software
  width: 45%
  margin-bottom: 20px
  
  @media (max-width: 480px)
    width: 100%

  &__title
    font-size: 26px
    text-transform: uppercase
    color: black
    margin-bottom: 15px
    width: 100%

  &__range
    position relative
    height 21px
    background-color: $color_gray

  &__progress
    position absolute
    height 21px
    background-color: $color_blue