@import '~global/colors.styl'

.software

  &__header
    margin-bottom 1.6rem

  &__content
    display flex
    flex-wrap wrap
    justify-content space-between

  &__item
    width 45%
    margin-bottom 1.25rem

    @media (max-width 480px)
      width 100%
