include ../round/round

mixin personal(name, surname, prof, img)
  .personal
    .personal__avatar
      +round()
    .personale__info
      .personal__name= name
      .personal__surname= surname
      .personal__prof= prof