include ../round/round
mixin personal(name, surname, prof)
  .personal
    .personal__avatar
      +round("personal__icon")
    .personale__info
      .personal__name= name
      .personal__surname= surname
      .personal__prof= prof