.personal
  display: block
  text-align: center
  padding-top 12px
  padding-left: 15px
  margin-bottom: 62px

  @media (max-width: 991px)
    padding-left: 0
    padding-top: 0
    margin-bottom: 40px
  
  &__avatar
    margin: auto
    width: 232px;
    height: 232px;
    margin-bottom: 35px

  &__name
    font-family: MyriadProSemi
    font-weight: 200
    font-size: 54px
    letter-spacing: 0
    line-height: @font-size - 10
    text-transform: uppercase

    @media (max-width: 430px)
      font-size: 12vw

  &__surname 
    font-family: MyriadPro
    font-weight: bold
    font-size: 52px
    line-height: @font-size - 6
    text-transform: uppercase
    letter-spacing: 0

    @media (max-width: 430px)
      font-size: 12vw

  &__prof
    font-family: MyriadPro
    font-weight: bold
    font-size: 26px
    line-height: 50px
    text-transform: uppercase
    letter-spacing: -1.1px