.personal
  display block
  text-align center
  
  &__avatar
    margin auto
    width 14.5rem;
    height 14.5rem;
    margin-bottom 2.19rem

  &__name
    font-family MyriadProSemi
    font-weight 200
    font-size 3.375rem
    letter-spacing 0
    line-height @font-size - 0.6
    text-transform uppercase

    @media (max-width 430px)
      font-size 12vw

  &__surname 
    font-family MyriadPro
    font-weight bold
    font-size 3.25rem
    line-height @font-size - 6
    text-transform uppercase
    letter-spacing 0

    @media (max-width 430px)
      font-size 12vw

  &__prof
    font-family MyriadPro
    font-weight bold
    font-size 1.625rem
    line-height 3.125rem
    text-transform uppercase
    letter-spacing -1.1px