include ../icon/icon

mixin personal({ name, surname, profession, img, alt })
  .personal
    .personal__avatar
      +icon({ img, avatar: true, alt })
    .personal__info
      .personal__name=name
      .personal__surname=surname
      .personal__prof=prof
